.container {
  display: block;
  margin: 0px auto;
  /* border: 2px solid black; */
  justify-items: center;
}
h1 {
  color: red;
}
h2 {
  color: yellowgreen;
}
img {
  width: 200px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  transition: transform 0.3s ease-in-out;
}
